<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>Ratnasambhav</title>
</head>
<body>
  <div class="page">
    <div class="nav">
      <div>
        <a href="/" title="Home" class="nav--link link">Journal</a>
        <span>x</span>
        <a href="#" title="Github" class="nav--link link">Projects</a>
      </div>
      <a href="/" title="Home" class="nav--logo link">RATNASAMBHAV</a>
    </div>
    <div class="posts">
      <h1>Latests posts</h1>
      {{POST_LIST}}
    </div>
  </div>
</body>
</html>